.intro {
  font-style: italic;
}
.author {
  color: red;
  font-size: 12px;
}
.important {
  color: red;
}
.unimportant {
  color: blue;
}
.cat-climate {
  background-color: yellow;
}
img {
  float: left;
}
.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}
.test-box {
    border: 2px solid red;
  }
  v.test-box {
  border-left: 2px solid red;
  border-right: 4px solid blue;
  border-top: 6px solid orange;
  border-bottom: 8px solid black;
}
.test-box {
  border: 2px solid red;
  padding: 6px;
  margin: 20px;
}
.test-box {
border: 2px solid red;
padding: 6px;
margin: 20px;
background-color: yellow;
}
